%input-field {
  background-color: $light-grey;
  border: none;
}

%tab-heading {
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    font-weight: normal;
  }
}

%stat-data-heading {
  color: #5f5757;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
}

%modal-header {
  .modal-title {
    h2 {
      font-size: 25px;
      margin: 0;
    }
    h3 {
      font-size: 20px;
      font-weight: lighter;
      color: $text-grey;
      margin: 0;
    }
  }
}

%modal-body {
  max-height: 50vh;
  min-height: 25vh;
  overflow: auto;
  p {
    margin-bottom: 5px;
  }
}

%worker-select {
  .selection-content {
    display: flex;
    justify-content: space-between;
    .worker-dropdown {
      .btn-primary {
        background-color: $accent-color;
        color: white;
        border: none;
      }
      .dropdown-menu {
        max-height: 20vh;
        overflow: auto;      
      }
    }
  }
}

%modal-footer {
  .btn-primary {
    background-color: $accent-color;
    color: white;
    border: none;
    &:not(:disabled):not(.disabled):active{
      background-color: $accent-color;
      border: none;
    }
  }
}