%input-field {
  background-color: $input-background-color;
  border: none;
}

%tab-heading {
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: $tab-heading-font-size;
  }
}

%stat-data-heading {
  color: #5f5757;
  font-size: 20px;
}