$primary-color: #1D5057;
$body-color: #F7F7F7;
$main-content-color: white;

$primary-btn-color: #0B3338;
$accent-color: #51C4C6;

$spacing-small: 30px;
$spacing-smaller: 15px;

$input-background-color: #F7F7F7;

$churn-prob-good: #00A78F;
$churn-prob-bad: #E62325;
$churn-prob-med: #8EE9D4;

$side-padding: 10vw;
