$primary-color: #1D5057;
$light-grey: #F7F7F7;
$dark-grey: #EAEAEA;
$main-content-color: white;

$primary-btn-color: #0B3338;
$accent-color: #51C4C6;

$spacing-small: 30px;
$spacing-smaller: 15px;

$input-background-color: #F7F7F7;

$value-high-color: #E62325; 
$value-low-color: #8EE9D4;
$value-med-color: #00A78F;

$side-padding: 10vw;
$border-radius: 10px;
