$primary-color: #1D5057;
$body-color: #F7F7F7;
$main-content-color: white;

$primary-btn-color: #0B3338;
$accent-color: #51C4C6;

$spacing-small: 30px;
$spacing-smaller: 15px;

$tab-heading-font-size: 25px;

$input-background-color: #F7F7F7;

$churn-prob-good: #2D910F;
$churn-prob-bad: #910F0F;
$churn-prob-med: #918C0F;

$side-padding: 10vw;
