@import './helpers/variables';
@import './helpers/mixins';
@import './helpers/placeholders';

#clients-header {
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: $tab-heading-font-size;
  }
  #client-search {
    width: 400px;
    @extend %input-field;
  }
}
#client-profile-table {
  tbody {
    p {
      margin: 0;
    }
    td.churn-prob {
      text-align: center;
      p {
        font-weight: bold;
        font-size: 20px;
      }
      p.bad {
        color: $churn-prob-bad;
      }
      p.med {
        color: $churn-prob-med;
      }
      p.good {
        color: $churn-prob-good;
      }
    }
  }
}
