@import './helpers/variables';
@import './helpers/mixins';
@import './helpers/placeholders';

#clients-header {
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: $tab-heading-font-size;
  }
  #client-search {
    width: 400px;
    @extend %input-field;
  }
}
