@import './helpers/mixins';
@import './helpers/variables';
@import './helpers/placeholders';

#login-body {
  background-color: $primary-color;
  min-height: 100vh;
  #login-nav {

    padding: $spacing-small;
    padding-left: 10vw;
    padding-right: 10vw;

    display: flex;
    align-items: center;

    #login-logo {
      @include logo(40px);
    }

    h1 {
      margin: 0;
      margin-left: 15px;
      font-size: 25px;
      color: white;
    }
  }
  #login-form-wrarpper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    #login-form {
      background-color: $main-content-color;
      padding: $spacing-small;
      @include border-curved($border-radius);
      input {
        @extend %input-field;
      }
      .btn-primary {
        background-color: $accent-color;
        color: white;
        border: none;
        width: 100%;
      }
      width: 40vw;
      #invalid-login {
        width: 100%;
        text-align: center;
        p {
          color: red;
        }
      }
    }
  }
}
