@import './helpers/variables';
@import './helpers/mixins';
@import './helpers/placeholders';

#stats-body {
    #stats-header {
        @extend %tab-heading;
        h2 {
            span {
                font-weight: lighter;
                font-size: 20px;
                color: $text-grey;
            }
        }
    }
    // for spinner 
    .text-primary {
        margin-top: 150px;
        color: $accent-color!important;
    }
    #stats-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        #line-graph {
            padding: $spacing-smaller;
            padding-top: 0;
            h3 {
                @extend %stat-data-heading
            }
            canvas.chartjs-render-monitor {
                max-width: 100%;
            }
        }
        #lower-group {
            display: flex;
            padding: $spacing-smaller;
            #donut-graph {
                width: 50%;
                h3 {
                    @extend %stat-data-heading
                }
                padding-right: $spacing-smaller;
                canvas.chartjs-render-monitor {
                    max-width: 100%;
                }
            }
            #avg-group {
                width: 50%;
                h3 {
                    @extend %stat-data-heading
                }
                padding-left: $spacing-smaller;
                #avg-cards {
                    display: flex;
                    justify-content: space-between;
                    .avg {
                        padding: 10px;
                        background-color: $light-grey;
                        width: 30%;
                    }
                }
                
            }
        }
    }
}